<a href="https://colab.research.google.com/github/prajwal-mv/Python_Practice/blob/main/Python_practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
swnum=int(input())
lst=[]
for i in range(10*(num-1),10*num):
    s=str(i)
    if(s[0]=='2' or s[-1]=='2'): 
        lst.append(i)
print(lst)

1
[2]

Print first and last name in reverse order with a space between them

In [ ]:
f_name = 'Prajwal'
last_name = 'MV'
full_rname =last_name+' '+ f_name

In [ ]:
print(full_rname)

MV Prajwal

In [ ]:
# Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 3,5,4,5,5
List :  ['3', '5', '4', '5', '5']
Tuple :  ('3', '5', '4', '5', '5')

In [ ]:
# first and last colour

color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [ ]:
# exam date
exam_st_date = (11,2,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 2 / 2014

In [ ]:
#calender
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2022
Input the month : 11
   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
# date
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [ ]:
# sphere
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
#Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

n = int(input())
if n > 17:
  m = abs(n-17)*2
  print(m)
else:
  k =abs(n-17)
  print(k)

81
128

In [ ]:
#Fibonacci

x,y=0,1
	
while y<50:
	print(y)
	x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [ ]:
#reversed num
num = int(input())
reversed_num = 0
print(num)
while num != 0:
    digit = num % 10
    print('digit',digit)
    reversed_num = reversed_num * 10 + digit
    print('reversed_num',reversed_num)
    num //= 10
    print('num',num)
print("Reversed Number: " + str(reversed_num))

123
digit 3
reversed_num 3
num 12
digit 2
reversed_num 32
num 1
digit 1
reversed_num 321
num 0
Reversed Number: 321

In [ ]:
12//10

1

In [ ]:
# amstrong
#1^3+5^3+3^3 = 153

n = int(input("Enter a number: "))  
sum = 0  
tem = n
  
while tem > 0:  
   digit = tem % 10  
   sum += digit ** 3  
   tem =tem // 10  
  
if n == sum:  
   print(n,"Yes, it is an  Armstrong number")  
else:  
   print(n,"No, it isn't an Armstrong number")

Enter a number: 153
153 Yes, it is an  Armstrong number

In [ ]:
1 %10

1

In [ ]:
#zeros 
class Solution:
   def solve(self, L):
      if len(L) == 0:
         return []
         k = 0
         for i in range(len(L)):
            if L[i] != 0:
               L[k] = L[i]
               k+=1
         for j in range(k,len(L)):
            L[j] = 0
         return L
ob = Solution()
L = [2,0,1,4,0,5,6,4,0,1,7]
print(ob.solve(L))

None

In [ ]:
lst =[0,1,0,1,0]
nl=[]
for i in lst:
   if i == 0:
     nl.append(i)
print(nl)

[0, 0, 0]

In [ ]:
#python stars square
n =5
for i in range(n):#outer loop row
  for j in range(n):#inner loop column
    print('*',end =' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# triangle
n =5
for i in range(n):
  for j in range(i+1):
     print('*',end =' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:

n =5
for i in range(n):
  for j in range(i-n):
     print('*',end =' ')
  print()

In [ ]:
#decreasing triangle
# triangle
n =5
for i in range(n):
  for j in range(i,n):
    print('',end='')
  for j in range(i+1):
    print('*',end='')
  print()

IndentationError: ignored

In [ ]:
n =5
for i in range(n):

    for j in range(i+1):
      print('',end ='')

        for j in range(i,n):
            print('*',end ='')

    for j in range(i,n):
      print('*',end='')

    print()

**********
********
******
****
**

In [ ]:
#amstrong number using lambda function
n=int(input("Enter any number: "))
a=list(map(int,str(n)))
b=list(map(lambda x:x**3,a))
if(sum(b)==n):
    print("The number is an armstrong number. ")
else:
    print("The number isn't an arsmtrong number. ")

Enter any number: 153
The number is an armstrong number.

In [ ]:
n=int(input("Enter any number: "))
m = str(n)
a=list(map(int,str(n)))
print(a)
print(type(a))

Enter any number: 153
[1, 5, 3]
<class 'list'>

In [ ]:
lst = [i for i in m]
print(lst)

['1', '5', '3']

In [ ]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:apple
Number of vowels are:
2

In [ ]:
string=input("Enter string:")
count=0
for i in string:
      if(i.islower()):
            count=count+1
print("The number of lowercase characters is:")
print(count)

Enter string:PraJwaL
The number of lowercase characters is:
4

In [ ]:
string = input()
count = 0
for i in string:
  if (i.isupper()):
    count = count + 1
print('the upper case charecters is:', count)

Prajwal M V
the upper case charecters is: 3

In [ ]:
string=input("Enter string:") #occurences times
word=input("Enter word:")
a=[]
count=0
a=string.split(" ")
for i in range(0,len(a)):
      if(word==a[i]):
            count=count+1
print("Count of the word is:")
print(count)

Enter string:i am the best data scientist in this whole world i am the bes tbecause i learn python and sql , ml and maths and my starting package is 18lpa
Enter word:i
Count of the word is:
3

word = 'geeks for geeks'
print(word.find('for'))

In [ ]:
word = 'geeks for geeks'
print(word.find('for'))

6

In [ ]:
#prime number 
n = int(input())
for i in range(2,n+1):
  if n%2 == 0:
    print('not prime')
    break
else:
  print('prime')

22
not prime

In [ ]:
start = int(input())
end = int(input())
for i in range (start,end+1):
  for j in range(2,i):1
    if i%j == 0:
      break
  else:
    print(i,end=' ')

1
10
1 2 3 5 7

In [ ]:
lst = [8,4,46,5,52,50,45,25,15,20,21,47,88,91]
l_2 = []
l_5 = []
n_not_2_5 =[]
for i in lst:
  if i%2 == 0:
    l_2.append(i)
  elif i%5 == 0:
    l_5.append(i)
  else:
    n_not_2_5.append(i)
print('the number is divisible by 2 ',l_2)
print('the number is divisible by 2',l_5)
print('the number is not divisible by 2 and 5',n_not_2_5)

the number is divisible by 2  [8, 4, 46, 52, 50, 20, 88]
the number is divisible by 2 [5, 45, 25, 15]
the number is not divisible by 2 and 5 [21, 47, 91]

In [ ]:
def sum(a,b):
  return a+b

In [ ]:
x = int(input())
y = int(input())
print('the total sum is',sum(x,y))

82
88
the total sum is 170

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
k=0
num=int(input("Enter the number to be counted:"))
for j in a:
    if(j==num):
        k=k+1
print("Number of times",num,"appears is",k)

Enter number of elements:2
Enter element:25
Enter element:26
Enter the number to be counted:25
Number of times 25 appears is 1

In [ ]:
list1 = [10, 21, 4, 45, 66, 93, 1]
 
even_count, odd_count = 0, 0
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        even_count += 1
 
    else:
        odd_count += 1
 
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:
list1 = [10, 21, 4, 45, 66, 93, 1]
even_count = 0
odd_count = 0
for i in list1:
  if i%2 == 0:
    even_count = even_count+1
  else:
    odd_count = odd_count+1
print(even_count)
print(odd_count)

3
4

In [ ]:
name = 'i am data scientist'
lst = [i for i in name]
print(lst)
print( name(max(count)))

['i', ' ', 'a', 'm', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']

NameError: ignored

In [ ]:
#count of prime number
    
start = int(input())
end = int(input())
k = 0
for i in range (start,end+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i,end = " ")
    k = k+1
print('\ntotal number',k)

1
10
1 2 3 5 7
total number 5

In [ ]:
l1 = []
num1 = int(input('Enter size of list 1: '))
for n in range(num1):
    l1.append(int(input()))
 
l2 = []
num2 = int(input('Enter size of list 2:'))
for n in range(num2):
    numbers2 = int(input('Enter any number:'))
    l2.append(numbers2)
 
union = list(set().union(l1,l2))
 
print('The Union of two lists is:',union)

Enter size of list 1: 2
4
2
Enter size of list 2:2
Enter any number:2
Enter any number:4
The Union of two lists is: [2, 4]

In [ ]:
a=int(input("Enter the first number of the series "))
b=int(input("Enter the second number of the series "))
n=int(input("Enter the number of terms needed "))
print(a,b,end=" ")
while(n-2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")
    n=n-1

In [ ]:
lst = [2,5,4,2,3,6,4,2,58,2,3,69,1,3,5,6,7]
even_l =[]
odd_l=[]
for i in lst:
  if i%2 == 0:
    even_l.append(i)
  else:
    odd_l.append(i)
print(even_l)
print(odd_l)

[2, 4, 2, 6, 4, 2, 58, 2, 6]
[5, 3, 3, 69, 1, 3, 5, 7]

In [ ]:
# plaindrome

a = input()
if a == a[::-1]:
  print('palindrome')
else:
  print('not palindrome')

radar
palindrome

In [ ]:
n = int(input())
k =0
for i in range(2,n+1):
  if n%i == 0:
    print('not prime')
    break
else:
  print('prime')
  k = k+1
  print('total prime',k)

5
not prime

In [ ]:
a=int(input("Enter the first number of the series "))
b=int(input("Enter the second number of the series "))
n=int(input("Enter the number of terms needed "))
while(n-2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")
    n=n-1

Enter the first number of the series 0
Enter the second number of the series 1
Enter the number of terms needed 8
1 2 3 5 8 13

In [ ]:
def sum(a,b):
  return a+b

x=9
y=8

print(sum(x,y))

17

In [ ]:
print("Input the value of a, b, c, d, e, f:")
a, b, c, d, e, f = map(float, input().split())
n = a*e - b*d
print("Values of x and y:")
if n != 0:
    x = (c*e - b*f) / n
    y = (a*f - c*d) / n
    print('{:.3f} {:.3f}'.format(x+0, y+0))

Input the value of a, b, c, d, e, f:
5 8 6 7 9 4
Values of x and y:
-2.000 2.000

In [ ]:

# Python 3 code to demonstrate
# Maximum frequency character in String
# naive method
 
# initializing string
test_str = "GeeksforGeeks"
 
# printing original string
print ("The original string is : " + test_str)
 
# using naive method to get
# Maximum frequency character in String
all_freq = {}
for i in test_str:
 if i in all_freq:
  all_freq[i] += 1
 else:
  all_freq[i] = 1
res = max(all_freq, key = all_freq.get)
 
# printing result
print("The maximum of all characters in GeeksforGeeks is : " + str(res))

The original string is : GeeksforGeeks
The maximum of all characters in GeeksforGeeks is : e

In [ ]:
Tv = {'BreakingBad':100, 'GameOfThrones':1292, 'TMKUC' : 88}

In [ ]:
Keymax = max(zip(Tv.values(), Tv.keys()))
print(Keymax)

(1292, 'GameOfThrones')

In [ ]:
n = input()
if n == n[::-1]:
  print('palindrome')
else:
  print('no')

radar
palindrome

In [1]:
#sum of dict
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [3]:
# multiplication in dict
d={'A':10,'B':10,'C':239}
tot=1
for i in d:    
    tot=tot*d[i]
print(tot)

23900

In [7]:
 # to map two lists into a dictionary
keys=[]
values=[]
n=int(input("Enter number of elements for dictionary:"))
print("For keys:")
for x in range(0,n):
    element=int(input("Enter element" + str(x+1) + ":"))
    keys.append(element)
print("For values:")
for x in range(0,n):
    element=int(input("Enter element" + str(x+1) + ":"))
    values.append(element)
d=dict(zip(keys,values))
print("The dictionary is:")
print(d)

Enter number of elements for dictionary:3
For keys:
Enter element1:1
Enter element2:2
Enter element3:3
For values:
Enter element1:5
Enter element2:6
Enter element3:9
The dictionary is:
{1: 5, 2: 6, 3: 9}

In [8]:
name = ['praj','ram']
marks = [100,88]
d=dict(zip(name,marks))
print(d)

{'praj': 100, 'ram': 88}

In [9]:
# concat two dict
d1={'A':1,'B':2}
d2={'C':3}
d1.update(d2)
print("Concatenated dictionary is:")
print(d1)

Concatenated dictionary is:
{'A': 1, 'B': 2, 'C': 3}

In [12]:
#to check if a given key exists in a dictionary
d={'A':4,'B':2,'C':3}
key=input("Enter key to check:")
if key in d.keys():
      print("Key is present and value of the key is:")
      print(d[key])
else:
      print("Key isn't present!")

Enter key to check:A
Key is present and value of the key is:
4

In [17]:
d={'A':4,'B':2,'C':3}
print(d['A'])

4